body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
